extends layout

block content

  include navigation

  div(class="container")
    div(class="jumbotron text-center")
      h1
        img(src="/img/JS-E-Store-logo.png", class="img-responsive center-block", alt="JS E-Store")
        p
          | Welcome! This is a sample e-commerce application.

