doctype html

html
  head
    title JS E-Store
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="icon", type="image/ico", href="/img/favicon.ico")



  body

    div(class="wrapper")
      block content
      div(class="push")

    div(class="footer text-center") Daniel Hovadick &minus; DCC &minus; UFMG &copy; 2016 &sim; version beta 0.0.1

    block scripts
